html, body{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    scroll-behavior: smooth;  
    
}
.container-fluid{
    background: url('../img/img-1.jpg') no-repeat;
    background-size: cover;
    height: 700px;
    box-shadow: 0 0 15px 0;
    
}
.nav a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold; 
}
.nav {
    padding-top: 2rem;
    padding-right: 4rem;
    
}
.nav li:hover{
    background-color: white;
    
}
.nav a:hover{
    color: #4717f6;
    font-weight: bold;
}
.avatar {
    border-radius: 50%;
    width: 300px;
    margin: 7.5rem 0 0 10rem;
    transition: right;
    transition-property: initial;
    transition-duration: 900;
}
.bio-text{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;
    margin: 9.5rem 8rem 0 0;
    
}
.avatar-1{
    float: left;
    width: 40%;
}
.biografia{
    float: right;
    width: 60%;
}
#curriculo{
    background: #111;  
    height: 400px;
}
#skills{
    background: #111;
}
#skills i{
    font-size: 4rem;
    border: 0.2px solid gray;
    box-shadow: 2px 2px #4717f6;
    color: #4717f6;
    height: 80px;
    width: 80px;
    display: flex;
  align-items: center;
  justify-content: center
 
}
#contacts {
    background: #4717f6;
    height: 250px;
}
h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    color: white;
}
p{
    color:whitesmoke;
    font-size: 1.4rem;
}
h3{
    color: white;
    
}
@media (max-width: 767px) and (min-width: 0px){
.nav ul li {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
}
.nav {
    padding-top: 0;
    padding-right: 0;
}
.avatar-1{
    float: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 2.5rem;
}
.biografia{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.bio-text{
    width: 100%;
    font-size: 1.5rem;
    padding-left: 2rem;
    text-align: center;

}
.avatar{
    float:none;
    border-radius: 50%;
    width: 250px;
    margin: 0;
    display: block;
    
}
i.material-icons{
    color: aliceblue;
    margin: 1rem 0 1rem 0;
    }
    
#curriculo{
    padding-top: 1.5rem;  
    height: 600px;
    font-size: 0.1rem;
}
#skills i{
    border: none;
    box-shadow: none;
    
}
#contacts {
    height: 350px;
}
}
@media (max-width: 2000px) and (min-width: 767px){
    #skills{
        padding: 0 10rem 0 10rem;
}
    #skills i{
        box-sizing: border-box;
        margin: 10px 10px 10px;
    }
    #skills div{
        display: flex;
  align-items: center;
  justify-content: center 
    }

}
